<footer id="footer">
    <div class="all">
        <div class="first">
            <h4 class="footerTitle">Menu</h4>
            <ul>
                <li><a href="#" class="footerLinks">Home</a></li>
                <li><a href="#" class="footerLinks">Recommendations</a></li>
                <li><a href="#" class="footerLinks">Coming Soon</a></li>

            </ul>
        </div>

        <div class="second">
            <h4 class="footerTitle">Profile</h4>
            <ul>

                <li><a href="#" class="footerLinks">Sign in</a></li>
                <li><a href="#" class="footerLinks">Sign up</a></li>
                <li><a href="#" class="footerLinks">Movies</a></li>
                <li><a href="#" class="footerLinks">Tv Shows</a></li>

            </ul>
        </div>

        <div class="third">
            <form action="/home/feedback" method="post">
                <h4 class="footerTitle">LEAVE A MESSAGE</h4>
                <textarea class="footerMsg" name="Message" placeholder="Message"></textarea>
                <button type="submit" name="submit">Submit</button>
            </form>
        </div>
    </div>

    <div class="social">
        <a href="https://www.facebook.com/" id="fblink"><i class="fab fa-facebook fa-3x socialLink"></i></a>
        <a href="https://www.google.com/" id="golink"><i class="fab fa-google fa-3x socialLinks"></i></a>
        <a href="https://www.instagram.com/" id="iglink"><i class="fab fa-instagram fa-3x socialLinks"></i></a>
        <a href="https://www.youtube.com/" id="ytlink"><i class="fab fa-youtube fa-3x socialLinks"></i></a>
    </div>



</footer>