<div class="header">

    <div class="logo">
        <a href="/home"><img src="../public/images/logo.png" class="headerLogo"></a>
    </div>
    <div class="NavBarContentSelection">

        <a href="/showmoremovies"> Movies</a>

        <div class="vl"></div>

        <a href="showmoretvshows">TV shows</a>
    </div>

    <div id="searchmenu">
        <div id="searchbar">
            <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                       aria-label="Search" id="searchData" autocomplete="off" onkeyup="searchMenu()">
            </form>
        </div>
        <div class="searchResult" id="searchResult">

        </div>

    </div>


    <div class="NavBarMenu">

        <div class="NavBarProfileLink">
            <a href="home/signout">Sign out <i class="fa fa-user"></i></a>
            <div class="vr"></div>
            <div class="notifDiv" id="notifDiv">
                <p class="notificationP" onclick="notificationMenu()">Notifications <i class="fa fa-bell"></i>
                    <span class="NotificationBadge">3</span>
                </p>
                <br>
                <div class="notificationMenu" id="notifications">

                    <p>This is a notification</p>
                    <p>This is a a long notification</p>
                    <p>This is a notification</p>
                    <p>This is a a long notification</p>
                    <p>This is a notification</p>
                    <p>This is a a long notification........</p>
                    <p>This is a notification</p>
                    <p>This is a a long notification</p>
                    <p>This is a notification</p>
                    <p>This is a a long notification</p>
                </div>

            </div>


            <div class="vr"></div>
            <a href="/profile"><%=name%> <i class="fa fa-user-circle"></i></a>

        </div>


    </div>

    <div id="sandwichMenu" class="sandwichMenu">
        <i id="sanmenu" class="fa fa-bars fa-2x" onclick="sandwich()"></i>

        <div id="smallmenu">
            <a href="#"> Movies</a>

            <a href="#">TV shows</a>

            <a href="/profile"><%=name%> <i class="fa fa-user-circle"></i></a>

            <p class="notificationP">Notifications <i class="fa fa-bell"></i>
                <span class="NotificationBadge">3</span>
            </p>

            <a href="home/signout">Sign out <i class="fa fa-user"></i></a>

        </div>

    </div>

</div>