<html>
<head>
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<footer id="footer">
<div class="all">

  <div class="first">
    <h4>Menu</h4>
    <hr>
    <ul>
      <li><a href="#"><i class="fa fa-angle-double-right"></i>Home</a></li>
      <li><a href="#"><i class="fa fa-angle-double-right"></i>Recommendations</a></li>
      <li><a href="#"><i class="fa fa-angle-double-right"></i>Coming Soon</a></li>

    </ul>
  </div>

  <div class="secound">
    <h4>Profile</h4>
    <hr>
    <ul>

      <li><a href="#"><i class="fa fa-angle-double-right"></i>Sign in</a></li>
      <li><a href="#"><i class="fa fa-angle-double-right"></i>Sign up</a></li>
      <li><a href="#"><i class="fa fa-angle-double-right"></i>Movies</a></li>
      <li><a href="#"><i class="fa fa-angle-double-right"></i>Tv Shows</a></li>

    </ul>
  </div>

  <div class="third">
    <h4>LEAVE A MESSAGE</h4>
    <hr>
    <textarea name="name" rows="1" cols="50" placeholder="Name"></textarea>
    <textarea name="email" rows="1" cols="50" placeholder="Email"></textarea>
    <textarea name="Message" rows="5" cols="50" placeholder="Message"></textarea>
    <button type="submit" name="submit">submit</button>
  </div>
</div>
<div class="social">
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-google"></a>
  <a href="#" class="fa fa-youtube"></a>

</div>
</footer>
</body>

</html>
