<!DOCTYPE html>
<html>
<head>
    <title>Forget Password</title>
    <link rel="icon" href="../public/images/FavIcon.png" sizes="32x32">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/forgetpass_email.css">
</head>
<body class="fpeBody">
<div class="logo">
    <img src="../public/images/logo.png" class="headerLogo">
</div>
<div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="../public/images/faceorange.png">
            </div>
            <div class="col-12 ">
                <h3>Forgot Password ?</h3>
                <p class="inst">We will send you an email with instructions on how to reset your password and the reset link will work only for an hour.</p>
            </div>
            <form class="col-12" action="/forget" method="post" onsubmit="return signinform(this)">
                <div class="form-group email">
                    <%include ./partial/errors.ejs %>
                    <input type="text" name="UserEmail" class="form-control" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Email should be something like omar@hotmail.com">
                </div>
                <a href="#"><button type="submit" name="next_btn" class="btn"><i class="fas fa-arrow-circle-right"></i>Send Email</button></a>
            </form>
            <div class="col-12 links">
                <a href="/signin">Sign in</a><br>
                New to Recify?  <a href="/signup"> Sign up now.</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>
