<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>header</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/stylesheets/header.css">
  </head>
  <body>
    <div class="header">

      <div class="headerLogoDiv">
        <a href="#"><img src="../public/images/logo.png" id="headerLogo"></a>
      </div>
      <div class="NavBarContentSelection">

          <a href="#"> Movies</a>

          <div class="vl"></div>

          <a href="#">TV shows</a>
      </div>


      <div class="NavBarMenu">
        <div class="NavBarProfileLink">
          <a href="#">Notifications<i class="fa fa-bell"></i>
            <span class="NotificationBadge">3</span>
          </a>
          <div class="vr"></div>
          <a href="#">Omar<i class="fa fa-user-circle"></i></a>

        </div>
      </div>

    </div>
  </body>
</html>
