<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Notifications</title>
    <%include ./Components/allLinks.ejs %>
    <link rel="stylesheet" href="../public/stylesheets/notification.css">

</head>
<body>



<div class="container-fluid">
    <div class="allNotifications">
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>
        <div class="theNotification">
            <p>This is a notifications p asda asd as fa dgf sad fasjdbhaishud asuydaisudhaosdka dhasdhabgskdhagbskda h</p>
        </div>


    </div>
</div>
<%include ./Components/footer.ejs %>
</body>
</html>
