<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Notifications</title>
    <%include ./Components/allLinks.ejs %>
    <link rel="stylesheet" href="../public/stylesheets/notification.css">

</head>
<body>



<div class="container-fluid">
    <div class="allNotifications">

        <%notifications.forEach((notif)=>{%>
        <div class="theNotification">
            <p class="notifMsg"><%=notif.message%> <a class="notifLink" href="http://localhost:3000/movie?id=<%=notif.id%>"><%=notif.title%></a></p>
        </div>
        <%})%>

    </div>
</div>
<%include ./Components/footer.ejs %>
</body>
</html>
