<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recify</title>
    <%include ./Components/allLinks.ejs %>
    <link rel="stylesheet" href="../public/stylesheets/Profile.css">

</head>
<body class="Pbody">

<%include ./Components/header.ejs %>

<div class="main">

    <div class="nav-div">
        <h3 id="profileTabLink" class="nav-menu-tabs active-tab" onclick="show(this)">Profile</h3>
        <h3 id="LikesTabLink" class="nav-menu-tabs" onclick="show(this)">Likes</h3>
        <h3 id="DislikesTabLink" class="nav-menu-tabs" onclick="show(this)">Dislikes</h3>
    </div>

    <div class="content-div profileTab-content">
        <div class="profileAndEdit">
            <div class ="profileHeader">
                <img class="ProfilePic" src="../public/images/faceorange.png">
                <input type="button" class="SBtn MBtn" value="Edit" name="submitBtn" onclick="showEditProfile()">
            </div>
            <div class="ProfileData">
                <p class="Name"><%=full%></p>
                <p class="borderfix emptyP"><p>
                <p class="Email"><%=email%></p>
                <p class="borderfix emptyP"><p>
            </div>
        </div>

        <div class="editProfileTab-content">
            <div>
                <form action="/profile/edit" method="post" class="EditProfile" autocomplete="off">
                    <p onclick="displayChangeNameInput()"><i class="fas fa-address-card"></i> Change Name</p>
                    <input type="text" class="Input" id="editNameInput" name="newName">
                    <p onclick="displayChangeEmailInput()"><i class="fas fa-envelope" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Email should be something like omar@hotmail.com"></i> Change Email</p>
                    <input type="text" class="Input" id="editEmailInput" name="newEmail">
                    <p onclick="displayChangePasswordInput()"><i class="fas fa-lock"></i> Change password</p>
                    <input type="password" class="Input editPass" id="editPasswordOldInput" name="oldPassword" placeholder="Old password">
                    <input type="password" class="Input editPass" id="editPasswordNewInput" name="newPassword"  placeholder="New password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                    <input type="password" class="Input editPass" id="editPasswordConfInput" name="confirmNewPassword" placeholder="Confirm password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required
                           value="<%=typeof confirm!="undefined" ? confirm:''%>">
                    <input type="submit" class="SBtn" value="Save changes" name="submitBtn">
                </form>
            </div>

        </div>


    </div>

    <div class="content-div LikesTab-content">
        <div class="movieSelectionHeader">
            <div class="headerData">
                <h2 class="MTVTile">Liked Movies</h2>

            </div>
        </div>
        <div class="carousel movieSelectionSlider"
             data-flickity='{"pageDots": false,"draggable": false, "cellAlign":"left", "contain":true} '>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>

        </div>

        <div class="movieSelectionHeader">
            <div class="headerData">
                <h2 class="MTVTile">Liked TV Shows</h2>
            </div>
        </div>
        <div class="carousel movieSelectionSlider"
             data-flickity='{"pageDots": false,"draggable": false, "cellAlign":"left", "contain":true} '>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>

        </div>

    </div>

    <div class="content-div DislikesTab-content">
        <div class="movieSelectionHeader">
            <div class="headerData">
                <h2 class="MTVTile">Disliked Movies</h2>
            </div>
        </div>
        <div class="carousel movieSelectionSlider"
             data-flickity='{"pageDots": false,"draggable": false, "cellAlign":"left", "contain":true} '>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>

        </div>

        <div class="movieSelectionHeader">
            <div class="headerData">
                <h2 class="MTVTile">Disliked TV Shows</h2>
            </div>
        </div>
        <div class="carousel movieSelectionSlider"
             data-flickity='{"pageDots": false,"draggable": false, "cellAlign":"left", "contain":true} '>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>

        </div>

    </div>


</div>





<%include ./Components/footer.ejs %>
<script type="text/javascript" src="../public/javascripts/header.js"></script>
<script src="../public/javascripts/flickity.pkgd.min.js"></script>
<script src="../public/javascripts/profile.js"></script>
</body>
</html>