<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recify</title>
    <%include ./Components/allLinks.ejs %>
    <link rel="stylesheet" href="../public/stylesheets/Profile.css">

</head>
<body class="Pbody">

<div class="header">

    <div class="logo">
        <a href="/home"><img src="../public/images/logo.png" class="headerLogo"></a>
    </div>
    <div class="NavBarContentSelection">

        <a href="#"> Movies</a>

        <div class="vl"></div>

        <a href="#">TV shows</a>
    </div>

    <div id="searchmenu">
        <div id="searchbar">
            <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                       aria-label="Search" id="searchData" onkeyup="searchMenu()">
            </form>
        </div>
        <div class="searchResult" id="searchResult">

        </div>

    </div>


    <div class="NavBarMenu">

        <div class="NavBarProfileLink">
            <a href="home/signout">Sign out <i class="fa fa-user"></i></a>
            <div class="vr"></div>
            <div class="notifDiv" id="notifDiv">
                <p class="notificationP" onclick="notificationMenu()">Notifications <i class="fa fa-bell"></i>
                    <span class="NotificationBadge">3</span>
                </p>
                <br>
                <div class="notificationMenu" id="notifications">

                    <p>This is a notification</p>
                    <p>This is a a long notification</p>
                    <p>This is a notification</p>
                    <p>This is a a long notification</p>
                    <p>This is a notification</p>
                    <p>This is a a long notification........</p>
                    <p>This is a notification</p>
                    <p>This is a a long notification</p>
                    <p>This is a notification</p>
                    <p>This is a a long notification</p>
                </div>

            </div>


            <div class="vr"></div>
            <a href="/profile">Bayza <i class="fa fa-user-circle"></i></a>

        </div>


    </div>

    <div id="sandwichMenu" class="sandwichMenu">
        <i id="sanmenu" class="fa fa-bars fa-2x" onclick="sandwich()"></i>

        <div id="smallmenu">
            <a href="#"> Movies</a>

            <a href="#">TV shows</a>

            <a href="/profile">Bayza <i class="fa fa-user-circle"></i></a>

            <p class="notificationP">Notifications <i class="fa fa-bell"></i>
                <span class="NotificationBadge">3</span>
            </p>

            <a href="home/signout">Sign out <i class="fa fa-user"></i></a>

            <div id="sbar">
                <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">

                    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                           aria-label="Search">
                </form>
            </div>
        </div>

    </div>

</div>

<div class="main">

    <div class="nav-div">
        <h3 id="profileTabLink" class="nav-menu-tabs active-tab" onclick="show(this)">Profile</h3>
        <h3 id="editProfileTabLink" class="nav-menu-tabs" onclick="show(this)">Edit profile</h3>
        <h3 id="LikesTabLink" class="nav-menu-tabs" onclick="show(this)">Likes</h3>
        <h3 id="DislikesTabLink" class="nav-menu-tabs" onclick="show(this)">Dislikes</h3>
    </div>

    <div class="content-div profileTab-content">
        <div>
            <img class="ProfilePic" src="../public/images/faceorange.png">
            <div class="ProfileData">
                <p class="Name">Hatem Tarek</p>
                <p class="borderfix emptyP"><p>
                <p class="Email">hatem1111998@gmail.com</p>
                <p class="borderfix emptyP"><p>
            </div>
        </div>

    </div>

    <div class="content-div editProfileTab-content">
        <div>
            <img class="ProfilePic" src="../public/images/faceorange.png">
            <form action="" method="post" class="EditProfile" autocomplete="off">
                <p onclick="displayChangeNameInput()"><i class="fas fa-address-card"></i> Change Name</p>
                <input type="text" class="Input" id="editNameInput" name="newName">
                <p onclick="displayChangeEmailInput()"><i class="fas fa-envelope"></i> Change Email</p>
                <input type="text" class="Input" id="editEmailInput" name="newEmail">
                <p onclick="displayChangePasswordInput()"><i class="fas fa-lock"></i> Change password</p>
                <input type="password" class="Input editPass" id="editPasswordOldInput" name="oldPassword" placeholder="Old password">
                <input type="password" class="Input editPass" id="editPasswordNewInput" name="newPassword"  placeholder="New password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                <input type="password" class="Input editPass" id="editPasswordConfInput" name="confirmNewPassword" placeholder="Confirm password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required
                       value="<%=typeof confirm!="undefined" ? confirm:''%>">
                <input type="submit" class="SBtn" value="Save changes" name="submitBtn">
            </form>
        </div>

    </div>

    <div class="content-div LikesTab-content">
        <div class="movieSelectionHeader">
            <div class="headerData">
                <h2 class="MTVTile">Liked Movies</h2>
            </div>
        </div>
        <div class="carousel movieSelectionSlider"
             data-flickity='{"pageDots": false,"draggable": false, "cellAlign":"left", "contain":true} '>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>

        </div>

        <div class="movieSelectionHeader">
            <div class="headerData">
                <h2 class="MTVTile">Liked TV Shows</h2>
            </div>
        </div>
        <div class="carousel movieSelectionSlider"
             data-flickity='{"pageDots": false,"draggable": false, "cellAlign":"left", "contain":true} '>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>

        </div>

    </div>

    <div class="content-div DislikesTab-content">
        <div class="movieSelectionHeader">
            <div class="headerData">
                <h2 class="MTVTile">Disliked Movies</h2>
            </div>
        </div>
        <div class="carousel movieSelectionSlider"
             data-flickity='{"pageDots": false,"draggable": false, "cellAlign":"left", "contain":true} '>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>

        </div>

        <div class="movieSelectionHeader">
            <div class="headerData">
                <h2 class="MTVTile">Disliked TV Shows</h2>
            </div>
        </div>
        <div class="carousel movieSelectionSlider"
             data-flickity='{"pageDots": false,"draggable": false, "cellAlign":"left", "contain":true} '>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/3.jpg"/>
            </div>
            <div class="carousel-cell">
                <img src="../public/images/download.jpg"/>
            </div>

        </div>

    </div>


</div>





<%include ./Components/footer.ejs %>
<script src="../public/javascripts/flickity.pkgd.min.js"></script>
<script src="../public/javascripts/profile.js"></script>
</body>
</html>