<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recify</title>
    <%include ./Components/allLinks.ejs %>
    <link rel="stylesheet" href="../public/stylesheets/homepage.css">
</head>
<body  class="hpBody">

<div class="BlackslidersMainDivBackground"  onmouseenter="sliderShowArrow('trenArrow')" onmouseleave="sliderHideArrow('trenArrow')">
    <div class="movieSelectionHeader">
        <div class="headerData" onmouseenter="sliderTitleHover('trenShow')" onmouseleave="sliderTitleHoverExit('trenShow')">
            <h2 id='trenTitle' class="mshTitle">Genre1</h2>
            <p id="trenShow" class="showMore">show more</p>
            <i class="fas fa-angle-right titleArrow" id="trenArrow"></i>
        </div>
    </div>

    <div class="carousel movieSelectionSlider"
         data-flickity='{"wrapAround": true ,"pageDots": false,"draggable": true, "cellAlign":"left"} '>
        <div class="carousel-cell">
            <a href="http://localhost:3000/movie?id="><img src="../public/images/download.jpg"></a>
        </div>
    </div>
</div>

<div class="GreyslidersMainDivBackground"  onmouseenter="sliderShowArrow('recArrow')" onmouseleave="sliderHideArrow('recArrow')">
    <div class="movieSelectionHeader">
        <div class="headerData" onmouseenter="sliderTitleHover('recShow')" onmouseleave="sliderTitleHoverExit('recShow')">
            <h2 id='recTitle' class="mshTitle">Genre2</h2>
            <p id="recShow" class="showMore">show more</p>
            <i class="fas fa-angle-right titleArrow" id="recArrow"></i>
        </div>
    </div>
    <div class="carousel movieSelectionSlider"
         data-flickity='{"wrapAround": true ,"pageDots": false,"draggable": true, "cellAlign":"left"} '>
        <div class="carousel-cell">
            <a href="http://localhost:3000/movie?id="><img src="../public/images/download.jpg"></a>
        </div>

    </div>
</div>

<div class="BlackslidersMainDivBackground"  onmouseenter="sliderShowArrow('trenArrow')" onmouseleave="sliderHideArrow('trenArrow')">
    <div class="movieSelectionHeader">
        <div class="headerData" onmouseenter="sliderTitleHover('trenShow')" onmouseleave="sliderTitleHoverExit('trenShow')">
            <h2 id='trenTitle' class="mshTitle">Genre3</h2>
            <p id="trenShow" class="showMore">show more</p>
            <i class="fas fa-angle-right titleArrow" id="trenArrow"></i>
        </div>
    </div>

    <div class="carousel movieSelectionSlider"
         data-flickity='{"wrapAround": true ,"pageDots": false,"draggable": true, "cellAlign":"left"} '>
        <div class="carousel-cell">
            <a href="http://localhost:3000/movie?id="><img src="../public/images/download.jpg"></a>
        </div>
    </div>
</div>

<div class="GreyslidersMainDivBackground"  onmouseenter="sliderShowArrow('recArrow')" onmouseleave="sliderHideArrow('recArrow')">
    <div class="movieSelectionHeader">
        <div class="headerData" onmouseenter="sliderTitleHover('recShow')" onmouseleave="sliderTitleHoverExit('recShow')">
            <h2 id='recTitle' class="mshTitle">Genre4</h2>
            <p id="recShow" class="showMore">show more</p>
            <i class="fas fa-angle-right titleArrow" id="recArrow"></i>
        </div>
    </div>
    <div class="carousel movieSelectionSlider"
         data-flickity='{"wrapAround": true ,"pageDots": false,"draggable": true, "cellAlign":"left"} '>
        <div class="carousel-cell">
            <a href="http://localhost:3000/movie?id="><img src="../public/images/download.jpg"></a>
        </div>

    </div>
</div>


<%include ./Components/footer.ejs %>
<script type="text/javascript" src="../public/javascripts/homepage.js"></script>
<script type="text/javascript" src="../public/javascripts/header.js"></script>
<script src="../public/javascripts/flickity.pkgd.min.js"></script>
</body>
</html>
