<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recify</title>
    <%include ./Components/allLinks.ejs %>
    <link rel="stylesheet" href="../public/stylesheets/homepage.css">
    <link rel="stylesheet" href="../public/stylesheets/showmore.css">
</head>
<body  class="hpBody">

<div class="BlackslidersMainDivBackground"  onmouseenter="sliderShowArrow(this)" onmouseleave="sliderHideArrow(this)">
    <div class="movieSelectionHeader">
        <div class="headerData" onmouseenter="sliderTitleHover(this)" onmouseleave="sliderTitleHoverExit(this)">
            <h2 id='trenTitle' class="mshTitle">Genre1</h2>
            <p id="trenShow" class="showMore" onclick="showMore()">show more</p>
            <i class="fas fa-angle-right titleArrow" id="trenArrow"></i>
        </div>
    </div>

    <div class="carousel movieSelectionSlider"
         data-flickity='{"wrapAround": true ,"pageDots": false,"draggable": true, "cellAlign":"left"} '>
        <div class="carousel-cell">
            <a href="http://localhost:3000/movie?id="><img src="../public/images/download.jpg"></a>
        </div>
    </div>
</div>

<div class="GreyslidersMainDivBackground"  onmouseenter="sliderShowArrow(this)" onmouseleave="sliderHideArrow(this)">
    <div class="movieSelectionHeader">
        <div class="headerData" onmouseenter="sliderTitleHover(this)" onmouseleave="sliderTitleHoverExit(this)">
            <h2 id='trenTitle' class="mshTitle">Genre1</h2>
            <p id="trenShow" class="showMore" onclick="showMore()">show more</p>
            <i class="fas fa-angle-right titleArrow" id="trenArrow"></i>
        </div>
    </div>

    <div class="carousel movieSelectionSlider"
         data-flickity='{"wrapAround": true ,"pageDots": false,"draggable": true, "cellAlign":"left"} '>
        <div class="carousel-cell">
            <a href="http://localhost:3000/movie?id="><img src="../public/images/download.jpg"></a>
        </div>
    </div>
</div>

<div class="BlackslidersMainDivBackground"  onmouseenter="sliderShowArrow(this)" onmouseleave="sliderHideArrow(this)">
    <div class="movieSelectionHeader">
        <div class="headerData" onmouseenter="sliderTitleHover(this)" onmouseleave="sliderTitleHoverExit(this)">
            <h2 id='trenTitle' class="mshTitle">Genre1</h2>
            <p id="trenShow" class="showMore" onclick="showMore()">show more</p>
            <i class="fas fa-angle-right titleArrow" id="trenArrow"></i>
        </div>
    </div>

    <div class="carousel movieSelectionSlider"
         data-flickity='{"wrapAround": true ,"pageDots": false,"draggable": true, "cellAlign":"left"} '>
        <div class="carousel-cell">
            <a href="http://localhost:3000/movie?id="><img src="../public/images/download.jpg"></a>
        </div>
    </div>
</div>

<div class="GreyslidersMainDivBackground"  onmouseenter="sliderShowArrow(this)" onmouseleave="sliderHideArrow(this)">
    <div class="movieSelectionHeader">
        <div class="headerData" onmouseenter="sliderTitleHover(this)" onmouseleave="sliderTitleHoverExit(this)">
            <h2 id='trenTitle' class="mshTitle">Genre1</h2>
            <p id="trenShow" class="showMore" onclick="showMore()">show more</p>
            <i class="fas fa-angle-right titleArrow" id="trenArrow"></i>
        </div>
    </div>

    <div class="carousel movieSelectionSlider"
         data-flickity='{"wrapAround": true ,"pageDots": false,"draggable": true, "cellAlign":"left"} '>
        <div class="carousel-cell">
            <a href="http://localhost:3000/movie?id="><img src="../public/images/download.jpg"></a>
        </div>
    </div>
</div>


<div class="showMoreDiv">
    <div class="showMoreHeader">
        <h2 class="showMoreHeaderTitle">Action</h2>
        <i class="fas fa-times fa-2x closeShowMoreIcon" onclick="closeShowMore()"></i>

    </div>

</div>

<%include ./Components/footer.ejs %>
<script type="text/javascript" src="../public/javascripts/showmore.js"></script>
<script type="text/javascript" src="../public/javascripts/header.js"></script>
<script src="../public/javascripts/flickity.pkgd.min.js"></script>
</body>
</html>
