<!DOCTYPE html>
<html>
<head>
  <title>Sign up</title>
  <link rel="icon" href="../public/images/FavIcon.png" sizes="32x32">
  <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
  <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="../public/stylesheets/sign_up.css">
</head>
<body>
<div class="logo">
  <img src="../public/images/logo.png" class="headerLogo">
</div>
<div class="modal-dialog text-center">
  <div class="col-sm-8 main-section">
    <div class="modal-content">
      <div class="col-12 user-img">
        <img src="../public/images/faceorange.png">
      </div>
    <%include ./partial/errors.ejs %>
    <form class="col-12" action="/signup" method="post" onsubmit="return signinform(this)">
      <div class="form-group fName">
        <input type="text" name="Name" class="form-control" placeholder="Name" value="<%=typeof name!="undefined" ? name:''%>" required>
      </div>

      <div class="form-group email">
        <input type="text" id="UserEmail" name="UserEmail" class="form-control" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Email should be something like omar@hotmail.com"
        value="<%=typeof email!="undefined" ? email:''%>">
      </div>
      <div class="form-group password">
        <input type="password" class="form-control" id="Password" name="Password" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
        value="<%=typeof password!="undefined" ? password:''%>">
      </div>
      <div class="form-group password">
        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" onchange="matchPassword(this)" required
        value="<%=typeof confirm!="undefined" ? confirm:''%>">
      </div>
      <button type="submit" name="sbt_btn" class="btn"><i class="fas fa-sign-in-alt"></i>Sign up</button>
    </form>
    <div class="col-12 links">
      Already have an account?  <a href="/signin"> Sign in.</a>
    </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="../public/javascripts/sign_up.js"></script>
</body>
</html>
