body{font-family: 'Roboto',sans-serif;

    color:grey;}
.header{width: 90%;
    margin: auto;
    background: transparent;
    border-color: transparent;
    overflow-y: hidden;
    position: absolute;
    top: 0px;
    z-index: 10;
    left: 5%;
}

.logo{
    width: 6%;
    min-width: 85px;
    background-color: rgba(59,70,82,0.3);
    border-radius: 0px 0px 40px 40px;
    border:  2px solid rgba(255,140,0,0.3);
    display: block;
    float: left;
    box-shadow: 0px 0px 2px #848484;
    border-top: none;
}
.headerLogo{
    width: 100%;
    opacity: 1;
}

.NavBarContentSelection{float:left;
    margin-top: 2.2%;
    margin-left: 1%;
}
.NavBarContentSelection a{margin-left:10px;
    color: white;
    float:left;
    text-decoration: none;
}
.NavBarContentSelection a:first-child{margin-right: 10px;}
.NavBarContentSelection a:hover{color:orange;}
.vl{border-left: 1px solid orange;
    height:20px;
    float:left;}

.NavBarMenu{float:right;
    margin-top: 2.2%;
    width: 30%;
    min-width: max-content;
    overflow-y:visible;
}

.NavBarProfileLink{
    position: relative;
}
.NavBarProfileLink a,.NavBarProfileLink .notificationP{float: right;
    text-decoration: none;
    color: white;
    position: relative;
    text-align: right;
}
.NavBarProfileLink a i, .notificationP i{
    color: orange;}
.NavBarProfileLink a:hover,.notificationP:hover{color: orange;
    cursor: pointer;}
.vr{border-right: 1px solid orange;
    height:20px;
    float:right;
    margin-left: 10px;
    margin-right: 10px;}
.NotificationBadge{
    position: relative;
    top: -15px;
    right: 5px;
    padding-right:3.2px;
    padding-left:2.8px;
    font-size: 0.8rem;
    border-radius: 50%;
    background: red;
    color: white;}
#searchbar{
    float: left;
    width:100%;
    color: white;
}
#searchbar:hover{
    color: orange !important;
}
#searchbar input{color: white;}
#searchbar:active{
    color: orange !important;
}

.sandwichMenu{
    display: none;
    float: right;
    cursor: pointer;
    text-align: right;
    border-radius: 4px;
    padding: 5px;
}
#sanmenu{color:orange;}
#smallmenu{
    display: none;

}
#smallmenu a,#smallmenu .notificationP{text-decoration: none;
    color: white;}

#smallmenu a:hover,#smallmenu .notificationP:hover{color: orange;}

@media screen and (max-width: 1000px) {
    .header a,.notificationP{
        float: none;
        display: block;
        text-align: left;
    }
    .notificationP{margin:0;}

    .NavBarMenu {
        display: none;
    }
    .NavBarContentSelection{
        display: none;
    }
    .sandwichMenu{
        display: block;
    }
    #searchmenu{display: none;}

}


#searchmenu{
    width: 25%;
    margin-top: 1%;
    margin-left: 2%;
    float: left;
    overflow-y: visible;
    color: white;
}
.searchResult{
    margin-left: 50px;
    padding-left: 0.1px;
    height: max-content;
    background: rgba(20,20,20,0.8);
    border-radius: 7px;
    position: relative;
    display:none;
    overflow-y: hidden;

}
.searchResult p{
                margin-left: 10px;
                margin-bottom: 7px;
                float: left;
                width: 70%;
                margin-top: 40px;
                }
.searchResult img{width: 15%;
                  float: left;
                  margin-bottom: 7px;
                  margin-top: 7px;
                  margin-left: 7px;
                  }
.theResult {
    cursor: pointer;
    border-bottom: 1px solid  rgba(20,20,20,0.8);
}

.theResult:last-child{  border-bottom:none;}
.theResult:hover{

    color: orange;
    background-color: rgba(12,12,12,0.8);

}
.notifDiv{
    color: white;
    float: right;
    overflow-x:visible;
    width: 118px;
}

.notificationMenu{
    display: none;
    position: relative;
    width: 200px;
    max-height: 200px;
    overflow-y: scroll;
    border-radius: 7px;
    padding-left: 7.5px;
    padding-top: 7.5px;
    background: rgba(20,20,20,0.8);
}
.fix{
    clear: both;
}
.notificationMenu::-webkit-scrollbar {
    width: 7px;

}
/* Track */
.notificationMenu::-webkit-scrollbar-track {
    background: rgba(255,165,0,0.3);
}

/* Handle */
.notificationMenu::-webkit-scrollbar-thumb {
    background: orange;
    cursor: pointer;
}

::placeholder {
    color: white !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: white !important;
}

::-ms-input-placeholder {
    color: white !important;
}

/* Handle on hover */
/*.notificationMenu::-webkit-scrollbar-thumb:hover {
    background: darkorange;
}*/