body{margin: 0;
    padding: 0;
    font-family: 'Arial';
    background-color: #202326;
}
#carouselExampleIndicators{
    background-image: url("../images/Recify background6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 650px;
    z-index: 9;

}
.carousel-item{
    height: 650px;
}
.carousel-inner{
}

.sliderimg{
    position: relative;
    left: 75%;
    margin-top: 100px;
    margin-bottom: 4%;
    cursor: pointer;

}

.ctrl{color: orange;
    opacity: 1.0 !important;}
.ctrl:hover{color:orange;
    opacity:1.0;}

.carousel-control-next, .carousel-control-prev{
    height: max-content;
    margin-top: 325px;

    width: max-content;
}
.carousel-control-next{
    margin-right: 20px;
}
.carousel-control-prev{
    margin-left: 20px;
}
.carousel-caption{
    position: relative;
    display: block;
    left: 7% !important;
    width: 600px;
    bottom:450px;
    padding-bottom: 20px;
    text-align: left;

}
.MovieName{
    font-size:5.0rem ;
    margin-left: 0;

}
.MovieCategory{
    padding: 2px;
    width: fit-content;
    text-align: center;
    margin-right:10px ;

}

.Morebtn{
    border: 1px solid darkorange;
    background-color: darkorange;
    border-radius: 3px;
    padding: 2px;
    width: 100px;
    opacity: 0.75;
    margin-bottom: 15px;

}
.Morebtn a{
    text-decoration: none;
    color: white;
}
.Morebtn:hover{
    opacity: 1;

}
.fix{
    clear: both;
}
.sliderratingicon{
    float: left;
    color: gold;
    margin-right:5px ;
    margin-top: 2px;
}
.sliderRating{
    font-size: 1.75rem;
}

.fa-thumbs-up:hover{
    color: orange;

}
.fa-thumbs-down:hover{
    color: red;

}
.fa-thumbs-down{
    cursor: pointer;
}
.fa-thumbs-up{
    margin-right: 20px;
    cursor: pointer;
}
.tabtitlearrow{

}
.tabsposter{
    width:100%;
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    );
    z-index: 111111111111111111111;
}

.tabcontent{
    border: 1px solid black;
    padding: 0;
    margin: 15px;


}
.tabcontent:first-child {
    margin-left:5% ;

}

.tabcontent:last-child {
    margin-right: 0;
}
.tabcontent:first-child{
}
.tabcontent:last-child{
}
.tabPosterData{
    position: absolute;
    bottom: 0;
    color: orange;
    left: 15%;
}

.tabPosterData h3, .tabsposterRating{
    font-weight: bolder;
}
.tabsmorebtn{
    position: absolute;
    display: none;
}
.tab1{
    width: 90%;
}

.movieSelectionSlider{

}
.carousel-cell {
    width: 250px;
    height:350px;
    margin-right: 20px;
    opacity:0.95;
}



.carousel-cell img {
    display: block;
    width:100%;
    text-align: center;
    height: 100%;
    margin: 0 auto;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    cursor: pointer;
}


/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
    opacity: 1;
}
.movieSelectionHeader{
}
.titleArrow{
    color: darkorange;
    display: none;
}
.showMore{
    color: orange;
    font-size: 20px;
    display: none;
}

.mshTitle{
    color: orange;
    font-weight: bolder;
    width: fit-content;
    margin-top:35px;
    margin-left: 10px;
    margin-bottom:0;
    padding-bottom:20px;
    display: inline-block;
}
.headerData{
    width:max-content;
    cursor: pointer;
}

.headerData:hover h2, .headerData:hover p{
    color:darkorange;
}

/*.miniMovieData{
    width:70%;
    position: absolute;
    top:650px;
    left: 15%;
    background-color: white;
    height: 500px;
}*/
.carousel-cell:hover{
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    border: 2px solid rgba(255,165,0,0.5);
    border-radius: 7px;
}
.carousel-cell:hover img{
    border-radius: 7px;
}

@media only screen and (max-width: 1420px) {
    .sliderimg{left:65%;}

}
@media only screen and (max-width: 1000px) {
    .sliderimg{left:54%;}

}
@media only screen and (max-width: 768px) {

    .sliderimg{left:27.5%;
               cursor: pointer;}
    .carousel-caption{display:none;}
}

.slidersMainDivBackground {

    padding-bottom: 30px;
    color: dimgrey;
}



* { box-sizing: border-box; }