.mpBody{margin: 0;
    padding: 0;
    font-family: 'Amiri', serif;
    font-weight: 500;
    background-image: url("../images/MoviePageBg.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.container-fluid{
  padding: 0;
  position:relative;
  margin: 0;
  margin-top: 100px;
  margin-left: 5%;
  width: 95%;
}
.MainDiv{
    background-color: rgba(50,50,50,0.6);
    width:85%;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 2%;
    box-shadow:3px 3px 20px 0px rgba(255,140,0,0.6);
    /* offset-x | offset-y | blur-radius | spread-radius | color */


}
.MovieData {
    width: 95%;
    margin-top: 150px;
    height: fit-content;

}
.DataDiv  p{
    width: 70%;
    color: white;
}
.DataDiv{
  float: left;
  width: 60%;
  margin-left: 3%;

}


#likeDislike #like{float: left;
      position: relative;
      display: block;
      margin-right: 150px;

}
#likeDislike #like:hover{
    cursor: pointer;
    color: orange;
}
#likeDislike #dislike{float: left;
    display: block;
    position: relative;


}
#likeDislike #dislike:hover{
    cursor: pointer;
    color: red;
}

#likeDislike .likeClicked{
    color:orange;
}
#likeDislike .dislikeClicked{
    color:red;
}
#movieTitle{color: orange;
            margin-top: 30px;}
#plot{color: white;
      width: 85%;
      text-align: justify;}

.IMDbRating{
  margin-right: 0.2%;
}
.RatingIcon{
  color: gold;
  margin-top: 0.25%;
  margin-left: 0.25%;
}
.UserName{
    padding-top:8px;
    font-weight: bolder;
    color: orange;
}
.UserImg{
  color: darkorange;
  background-color: grey;
  border-radius: 5px;
  float: left;
  margin-right: 1.5%;
}
.UserComment{
  width:100%;
  text-align: justify;
  margin-bottom: 20px;
  color: white;
}
.PrintedComments{
  width: 70%;

}

.commentarea{
  height: 150px;
  width: 40%;
  border-radius: 15px;
  background-color: rgba(40,40,40,0.6);
  color: white;
  padding: 5px;
  border: 1px solid darkorange;
  outline: none;
}

.CommentsDiv{
    width: 95%;
    margin-top: 75px;
    margin-left: 30px;
}

.Postbtn{
margin-top: 2%;
width: 60px;
border-radius: 5px;
border: none;
background-color: orange;
margin-bottom: 2.5%;

}
.Postbtn:hover{
  background-color: darkorange;
}

.playbtn{
    z-index: 100;
    position: absolute;
    left: 150px;
    top: 200px;
    float: left;
    color: white;
    cursor: pointer;
}
.playbtn:hover{
    color:orange;
    cursor: pointer;
}
.PosterDiv{
    float: left;
    margin-right: 40px;
    margin-left: 30px;
    margin-top: 30px;
}
#moviePoster{width:120%;
             }
#likeDislike{position: relative;
            left: 10%;
            top: 30px;
            width: fit-content;


}
#hiddenTrailer{
    display: none;
    margin:auto;
    position: absolute;
    top: 50px;
    height: fit-content;
    width: 50%;
    left: 12.5%;

}
.Synopsis:after{
      content: ""; /* This is necessary for the pseudo element to work. */
      display: block; /* This will put the pseudo element on its own line. */
      margin: 0 auto; /* This will center the border. */
      width:9%;
      min-width: 67.5px; /* Change this to whatever width you want. */
      padding-top: 5px; /* This creates some space between the element and the border. */
      border-bottom: 1px solid darkorange; /* This creates the border. Replace black with whatever color you want. */
      margin-left: 0;
}
.borderfix:after{
      content: ""; /* This is necessary for the pseudo element to work. */
      display: block; /* This will put the pseudo element on its own line. */
      margin: 0 auto; /* This will center the border. */
      width: 100%; /* Change this to whatever width you want. */
      padding-top: 5px; /* This creates some space between the element and the border. */
      border-bottom: 1px solid darkorange; /* This creates the border. Replace black with whatever color you want. */
      margin-left: 0;
}
.CommentBorderFix:after{
      content: ""; /* This is necessary for the pseudo element to work. */
      display: block; /* This will put the pseudo element on its own line. */
      margin: 0 auto; /* This will center the border. */
      width: 10.75%; /* Change this to whatever width you want. */
      min-width: 180px;
      padding-top: 8px; /* This creates some space between the element and the border. */
      border-bottom: 1px solid darkorange; /* This creates the border. Replace black with whatever color you want. */
      margin-left: 0;
      margin-bottom: 3%;
}
.CommentRequestBorderFix:after{
      content: ""; /* This is necessary for the pseudo element to work. */
      display: block; /* This will put the pseudo element on its own line. */
      margin: 0 auto; /* This will center the border. */
      width: 13%; /* Change this to whatever width you want. */
      min-width: 220px;
      padding-top: 8px; /* This creates some space between the element and the border. */
      border-bottom: 1px solid darkorange; /* This creates the border. Replace black with whatever color you want. */
      margin-left: 0;
      margin-bottom: 3%;
}

@media only screen and (max-width: 1150px) {
    .DataDiv{
        margin-top: 50px;
        width: fit-content;
    }

}
body::-webkit-scrollbar {
    width: 12px;


}
/* Track */
body::-webkit-scrollbar-track {
    background-color: rgba(50,50,50,1);
    border-radius: 20px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: orange;
    cursor: pointer;
    border-radius: 20px;
}
::placeholder {
    color: white !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: white !important;
}

::-ms-input-placeholder {
    color: white !important;
}