body{margin: 0;
    padding: 0;
    font-family: 'Arial';
    background-color: #202326;
    overflow-x: hidden;
}
.container-fluid{
  padding: 0;
  position:relative;
  margin: 0;
  margin-left: 5%;
  margin-top: 100px;

}

.MovieData {
    width: 100%;
    margin-top: 150px;
    min-width: 1280px;

}
.DataDiv{
  float: left;
  width: 60%;
  min-width: 800px;
  margin-left: 3%;

}


#like{float: left;
      position: absolute;
      display: block;
      top: 425px;
      left: 0;

}
#like:hover{
    cursor: pointer;
    color: orange;
}
#dislike{float: left;
    position: absolute;
    display: block;
    top: 425px;
    left: 150px;

}
#dislike:hover{
    cursor: pointer;
    color: red;
}

.likeClicked{
    color:orange;
}
.dislikeClicked{
    color:red;
}
#movieTitle{color: orange;}
#plot{color: white;
      width: 85%;
      text-align: justify;}

.IMDbRating{
  margin-right: 0.2%;
}
.RatingIcon{
  color: gold;
  margin-top: 0.25%;
  margin-left: 0.25%;
}
.UserImg{
  color: darkorange;
  background-color: grey;
  border-radius: 5px;
  float: left;
  margin-right: 2%;
  margin-bottom: 10%;
}
.UserComment{
  width:50%;
  text-align: justify;
}
.PrintedComments{
  float: left;
  
}
.commentarea{
  border-radius: 5px;
}
.CommentsDiv{
    width: 70%;
}

.Postbtn{
margin-top: 2%;
border-radius: 5px;
border: none;
background-color: orange;
margin-bottom: 4%;
width: 5%;
}
.Postbtn:hover{
  background-color: darkorange;
}

.playbtn{
    z-index: 100;
    position: relative;
    left: 37.5%;
    top: 150px;
    display: block;
    color: grey;
    cursor: pointer;
}
.playbtn:hover{
    color:orange;
    cursor: pointer;
}
.PosterDiv{
    float: left;
    background: url('../images/knives.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow:hidden;
    background-repeat: no-repeat;
    width:210px;
    height:370px;
    cursor:pointer;
}

#hiddenTrailer{
    display: none;
    margin:auto;
    position: absolute;
    top: 50px;
    height: fit-content;
    width: 50%;
    left: 12.5%;

}
.Synopsis:after{
      content: ""; /* This is necessary for the pseudo element to work. */
      display: block; /* This will put the pseudo element on its own line. */
      margin: 0 auto; /* This will center the border. */
      width: 7%; /* Change this to whatever width you want. */
      padding-top: 5px; /* This creates some space between the element and the border. */
      border-bottom: 1px solid darkorange; /* This creates the border. Replace black with whatever color you want. */
      margin-left: 0;
}
.borderfix:after{
      content: ""; /* This is necessary for the pseudo element to work. */
      display: block; /* This will put the pseudo element on its own line. */
      margin: 0 auto; /* This will center the border. */
      width: 60%; /* Change this to whatever width you want. */
      padding-top: 5px; /* This creates some space between the element and the border. */
      border-bottom: 1px solid darkorange; /* This creates the border. Replace black with whatever color you want. */
      margin-left: 0;
}
.CommentBorderFix:after{
      content: ""; /* This is necessary for the pseudo element to work. */
      display: block; /* This will put the pseudo element on its own line. */
      margin: 0 auto; /* This will center the border. */
      width: 14%; /* Change this to whatever width you want. */
      padding-top: 8px; /* This creates some space between the element and the border. */
      border-bottom: 1px solid darkorange; /* This creates the border. Replace black with whatever color you want. */
      margin-left: 0;
      margin-bottom: 3%;
}
.CommentRequestBorderFix:after{
      content: ""; /* This is necessary for the pseudo element to work. */
      display: block; /* This will put the pseudo element on its own line. */
      margin: 0 auto; /* This will center the border. */
      width: 17%; /* Change this to whatever width you want. */
      padding-top: 8px; /* This creates some space between the element and the border. */
      border-bottom: 1px solid darkorange; /* This creates the border. Replace black with whatever color you want. */
      margin-left: 0;
      margin-bottom: 3%;
}
