.hpBody{background-color: rgba(12,12,12,1);}
.headerData:hover h2, .headerData:hover p{
    color:darkorange;
}
.firstSlider{margin-top: 120px;}
.showMoreDiv{
    display: none;
    position: absolute;
    left:2.5%;
    margin: auto;
    border-radius: 20px;
    box-shadow:3px 3px 20px 0px rgba(255,140,0,0.6);
    background-color: rgba(50,50,50,0.6);
    height: 800px;
    width: 95%;
    padding: 20px;
}
.showMoreHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.showMoreHeaderTitle{
    color: orange;
}
.closeShowMoreIcon{
    color: orange;
    cursor: pointer;
}